body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.container-image {
    margin-right: 80px;
}

.container-text {
    text-align: center;
    position: relative;
}

h1 {
    font-size: 70px;
    color: #d11f17;
}

button {
    padding: 15px 30px;
    font-size: 50px;
    cursor: pointer;
    background-color: #656667;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #787b75;
}

#winner {
    margin-top: 60px;
    font-size: 50px;
    color: #d11f17;
    width: 500px;
    min-height: 70px;
}

.container img {
    margin-right: 20px;
    width: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}